{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}

    <section class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center mt-5">
            <a class="btn bg-secondary" href="{{ path('create_task') }}">Crée une tâche</a>
        </div>

        <table class="table bg-secondary mt-5">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Auteur</th>
                    <th class="text-center" scope="col">Titre</th>
                    <th class="text-center" scope="col">Modifier</th>
                    <th class="text-center" scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for task in tasks %}
                <tr class="task">
                    <td class="text-center">{{ task.author.username }}</td>
                    <td class="text-center"><a href="{{ path('show_task', {'id' : task.id}) }}" >{{ task.title }}</a></td>
                    <td class="text-center"><a href="{{ path('edit_task', {'id' : task.id}) }}"><img src="{{ asset('build/images/edit.svg') }}"></a></td>
                    <td class="text-center"><a href="{{ path('delete_task', {'id' : task.id}) }}"><img src="{{ asset('build/images/delete.svg') }}"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
