{% extends 'base.html.twig' %}

{% block title %}{{ task.title }}{% endblock %}

{% block body %}

    <section class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center flex-column align-items-center mt-5">

            <div>
                <p>{{ task.title }}</p>
            </div>
            
            <div>
                <p>{{ task.content }}</p>
            </div>

            <div>
                <p>{{ task.author.username }}</p>
            </div>

            <div>
                <p>{{ task.createdAt|date("m/d/Y") }}</p><br>
            </div>

        </div>
    </section>

{% endblock %}